.resume-section {
  background-color: rgba(180, 200, 228, 0.9);
  padding: 40px 0;
  display: flex;
  justify-content: center;
}

.resume {
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  width: 90%;
  color: #004a63;
  margin: auto;
}

.resume-title {
  font-size: 2.5em;
  color: #106347;
  margin-bottom: 10px;
  text-align: center;
}

.resume-description {
  font-size: 1.1em;
  color: #555;
  margin-bottom: 40px;
  text-align: justify;
}

.resume-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.resume-column {
  flex: 1;
  max-width: 45%;
}

.resume-section-title {
  font-size: 1.8em;
  color: #4db5ff;
  margin-bottom: 20px;
  position: relative;
}

.resume-section-title::after {
  content: '';
  width: 50px;
  height: 3px;
  background: #4db5ff;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.resume-item {
  margin-bottom: 30px;
  border-left: 3px solid #4db5ff;
  padding-left: 15px;
}

.resume-item-title {
  font-size: 1.3em;
  font-weight: bold;
  color: #2b3a67;
  margin-bottom: 5px;
}

.contact-details {
  list-style: none;
  padding: 0;
  font-size: 1em;
  color: #555;
}

.contact-details li {
  margin-bottom: 5px;
}

.contact-details li a {
  color: #4db5ff;
  text-decoration: none;
}

.contact-details li a:hover {
  text-decoration: underline;
}

ul {
  padding-left: 15px;
  font-size: 1em;
  color: #333;
  text-align: justify;
}

ul li {
  margin-bottom: 5px;
}

.certificates-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  margin-top: 20px;
  padding: 10px 0;
}

.certificate-image {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .resume-container {
      flex-direction: column;
      align-items: center;
  }

  .resume-column {
      max-width: 100%;
  }
}
