/* src/App.css */
/* src/components/About.css */
.about {
  padding: 20px;
  background-color: #f4f4f4;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

section {
  padding: 50px;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}
